@page
@model CollectNet.Pages.Lists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.Name == null)
{
    <p>Please log in to use this feature.</p>
}
else
{

    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name, tag, or type:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.List[0].ListName)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.List[0].ListTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.List[0].ListTags)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListTypes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListTags)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        var prevDisabled = !Model.List.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.List.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.List.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @nextDisabled">
        Next
    </a>
}
